.CustomButton {
  align-items: center;
  border-color: #806c00 !important;
  color: #806c00 !important;
  width: 12rem;

  transition:
    background-color 0.3s,
    border-color 0.3s;
  &:hover {
    background-color: #775088 !important;
    border-color: #806c00 !important;
    color: #806c00 !important;
  }
}
