input[type='file']::file-selector-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.dropzoneStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 1rem;
}
