.Banner {
  background-color: #70905f;
  height: 7.5rem;
}

.ImageTitle {
  top: -2rem;
  left: 0;
  height: 15rem;
  width: 15rem;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.Login {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.ImageProfile {
  color: white;
  width: 1rem;
  margin-right: 1rem;
  border: solid 1px black;
  border-radius: 15rem;
}

.LoginButton {
  height: 2.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  margin-left: -25rem;
}
