@media (max-width: 576px) {
  // Média query pour les écrans de taille inférieure ou égale à 576px (taille typique de l'iPhone SE)
  .navbar-collapse {
    max-height: calc(
      100vh - 56px
    ); // 56px est la hauteur typique de la barre de navigation sur les iPhones
    overflow-y: auto; // Ajouter une barre de défilement si le contenu est trop long pour tenir sur l'écran
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.4rem #243f16;
  background-color: #70905f !important;
  z-index: 1000;
}

.ImageTitle {
  top: -2rem;
  height: 13rem;
  width: 13rem;
  position: absolute;
  object-fit: cover;
}

.Login {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.ImageProfile {
  color: white;
  width: 1rem;
  margin-right: 1rem;
  border: solid 1px black;
  border-radius: 15rem;
}

.BurgerMenu {
  margin-left: 0 !important;
  margin-right: 2rem;
}

#responsive-navbar-nav {
}
