// .MemePage {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   min-height: 100vh;
// }

.LoadMoreButton {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  align-items: center;
}

.MemeCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  justify-content: center;
}
