.SidebarContainer {
  position: fixed;
  top: 12rem;
  display: flex;
  flex-direction: column;
  width: 14rem;
  gap: 2rem;
}

.color {
  background-color: rgba(#775088, 0.3);
}

.Sidebar {
  left: 0;
  height: 34rem;
  width: 14rem;
  padding-top: 3rem;
  margin-left: 1.5rem;
  text-align: left;
  border: solid 0.1rem;
  border-radius: 0.5rem;
}

.SidebarImage {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

.Searchbar {
  display: flex;
  width: 13rem;
  margin-left: 2rem;
  border-radius: 1rem;
  border: solid 0.08rem;
  background-color: transparent;
}

.mglass {
  margin-left: 0.5rem;
  color: #e7811c;
}
.styleSearchBar {
  display: flex;
  align-items: center;
  height: 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
