.CardStyle {
  margin-top: 2rem;
}

.MemeCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
  width: calc(100vw - 20rem);
  margin-left: 17rem;
  margin-right: 17rem;
}

.Emotes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.LoadMoreButton {
  height: 3rem;
  margin-left: 17rem;
  margin-right: 17rem;
}

.card-body {
  background-color: #d6cadb;
  border: #000000 solid 0.1rem;
  border-radius: 2%;
}
