.CardStyle {
  margin-top: 2rem;
  padding: 1rem;
}

.Subtitle {
  color: #fff !important;
}

.Emotes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.LoadMoreButton {
  height: 3rem;
}

.card-body {
  background-color: #fff;
}

.CardTitle {
  border-bottom: #fff solid 0.1rem;
}
