.CardContainer {
  @media (max-width: 767.98px) {
    // petits appareils
    padding-left: 1rem;
    margin-top: 3rem;
  }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    // appareils moyens et tablettes (y compris iPad Pro)
    padding-left: 5rem;
    padding-top: 8rem;
  }
  @media (min-width: 1200px) {
    // grands appareils et écrans larges
    padding-left: 3rem;
    margin-top: 8rem;
  }
}

.CardStyle {
  padding: 1rem;
}

.Subtitle {
  color: #fff !important;
}

.Emotes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.LoadMoreButton {
  height: 3rem;
}

.card-body {
  background-color: #fff;
}

.CardTitle {
  border-bottom: #fff solid 0.1rem;
}
