.content-container {
  display: flex;
  justify-content: center;
}

.CreateMemePage {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  flex-grow: 1;
}

.CreateMemePageButton {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
