.content-container {
  display: flex;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.CreateMemePage {
  margin-top: 10rem;
  width: 100%;

  @media only screen and (max-width: 768px) {
    margin-top: 8rem;
  }
}

// .CreateMemePageButton {
//   margin-top: 1rem;
//   display: flex;
//   gap: 1rem;
//   justify-content: center;
// }
