.meme-container {
  display: flex;
}

.text-inputs {
  border: solid 2px;
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

h3 {
  padding-bottom: 2rem;
}
