.meme-container {
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: flex-start;
  // margin-right: 2rem;
  // margin-left: 2rem;
}

.text-inputs {
  border: solid 2px;
  width: 20rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

h3 {
  padding-bottom: 2rem;
}

.text {
  margin-top: -0.5rem;
  margin-left: 15.5rem;
}

input {
  margin-bottom: 1rem;
}

// .MemePreview {
//   @media only screen and (max-width: 768px) {
//     //  .meme-container {
//     //    flex-direction: column;
//     //    align-items: stretch;
//     //  }

//     .MemePreview .text-inputs {
//       margin-right: 1rem;
//     }
//   }
// }

.CreateMemePageButton {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
